node_modules
dist
.env
.env.production
uploads/*.jpg
uploads/*.png
uploads/*.pdf
uploads/*.zip
uploads/*.mp4
uploads/*.mov
uploads/*.jpeg
server_log.txt
build_log.txt
*.log
serviceAccountKey.json
data/
temp_db.json
.DS_Store
